{% extends "base.html" %} {% block title %} Settings {% endblock %}
{% block content %}
    <div>
        <title>Settings</title>
        <header >Settings</header>
    </div>
    <div>
        <form method="POST">
            <button name="darkMode" type="submit" id="form" value="darkMode" class="btn btn-primary">Dark Mode</button>
        </br></br>
        <button mame="lightMode" type="submit" id="form" value="lightMode" class="btn btn-primary">Light Mode</button>
        </br></br>
        <button name="removeAccount" type="submit" id="form" value="removeAccount" class="btn btn-primary">Remove Account</button>
    </form>
    </div>
{% endblock %}