{% extends "base.html"%} {% endblock %} {% block content %}
<div>
    <title>Settings</title>
    <header align="center">Settings</header>
    <form method="POST" align="center">
        <button type="submit" value="darkMode" class="btn btn-primary">Dark Mode</button>
    </br>
    </br>
    <button type="submit" value="lightMode" class="btn btn-primary">Light Mode</button>
</br></br>
    <button type="submit" value="removeAccount" class="btn btn-primary">Remove Account</button>
</form>
</div>
{% endblock %}